@import 'partials/app';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/jumbotron';
@import 'partials/mainHomepage';
@import 'partials/topFooterHomepage';




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}