#space{
    height: 50px;
    background-color: royalblue;
    position: relative;
    .card_selcted{
        width: 140px;
        height: auto;
        position: absolute;
        bottom: 20px;   
    }
 
}
#advertisement{
    text-align: end;
    padding-top: 50px;
}
#secondPageTop{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    #sx_info{
        width: 70%;
    }
    #check{
        background-color: yellowgreen;
        display: flex;
        justify-content: space-between;
        #price_check{
            padding: 10px;
            width: 70%;
            display: flex;
            justify-content: space-between;
        }
        #option{
            padding: 10px;
            display: flex;
            justify-content: center;
            border: 1px solid green;

        }
    }
    p{
        margin: 20px 0;
        color: rgb(14, 7, 7);
    }
}

#secondPageBottom{
    background-color: rgb(240, 240, 240);
    border: 1px solid #ccc;
    #sponsor{
        display: flex;
        margin-top: 100px;
        .section_sponsor{
            display: flex;
            width: 25%;
            border: 1px solid #ccc;
            padding: 5px;
            color: rgb(174, 173, 173);
            justify-content: space-between;
            .img_sponsor{
                width: 40px;
            }
        }
    }
}
#secondPageBottomTab{
   display: flex;
   justify-content: space-between;
    
   #talent{
       width: 45%;
   }
   #specs{
       width: 45%;
   }
   .section_tab{
       padding: 10px 0;
       border-bottom: 1px solid #ccc;
   }
   a{
    text-decoration: none;
    }
   #art_by{
       display: flex;
       justify-content: space-between;
      
       #art{
        width: 60%;
       }
   }
   #written_by{
    display: flex;
    justify-content: space-between;
    #written{
        width: 60%;
    }
   }
}
